@import "bootstrap";

.jumbotron {
  background-color: #545390;
  color: white;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.card {
  border: 1px solid #b3d7ff;
  .card-header {
    background-color: rgba(0, 190, 200, 0.1);
    border-bottom: 1px solid #b3d7ff;
  }
  .card-footer {
    background-color: rgba(0, 123, 255, 0.1);
    border-top: 1px solid #b3f9ff;
  }
}

#current-weather.card {
  border: 1px solid #b3d7ff;
  .card-header {
    background-color: #b6d9gf;
    border-bottom: 1px solid #b3s9ff;
  }
}
